# Mac
.DS_Store

# Gradle
.gradle/
build/

# Android build
app/build/

# Android Studio / IDE
.idea/
*.iml
.vscode/

# Local config
local.properties

# Logs & compiled files
*.log
*.class
*.dex

test_screenshots/

