<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.dailyserviceapp.debug.TestDataBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dailyserviceapp.DEBUG_GENERATE_TEST_DATA" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
